# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
*.xml
*.7z
_bckp
_sql
_old
_notes
disk/_bak
disk/usr/dav
disk/_
cnfg/*
cnfg/weather.txt
cnfg/twitter.txt
cnfg/watson.txt
cnfg/deepl.txt

cnfg/readme.txt
cnfg/apc.ovh.php
cnfg/hooks.ovh.php
cnfg/telex.ovh.php
connectors.ovh.php
cnfg/htpasswd.txt
cnfg/site.com.php
cnfg/wapp.ovh.php
cnfg/converts.ovh.php
cnfg/httaccess.txt
cnfg/ibook.ovh.php
cnfg/slides.ovh.php
cnfg/dsktp.ovh.php
cnfg/logic.ovh.php
cnfg/spitable.ovh.php
cnfg/ffw.ovh.php
cnfg/pad.ovh.php
cnfg/stxt.ovh.php
cnfg/fractal.test.php
cnfg/posts.ovh.php
cnfg/tabler.ovh.php

fonts/_old
fonts/ttf
_trash.php
